---
import Layout from '../layouts/Layout.astro'
import Form from '../components/Form.astro'
import Text from '../components/Text.astro'
import Radio from '../components/Radio.astro'
---

<Layout title="EQ Dry Cure Calculator">
	<main class="flex justify-center px-4">
		<Form submitLabel="Calculate" includeReset={true}>
			<Radio
				name="unit"
				primaryLabel="Units"
				defaultValue="g"
				choices={[
					['g', 'Grams'],
					['lbs', 'Lbs'],
				]}
			/>
			<Text
				name="meat_weight"
				label="Meat weight"
				postfix="g"
				helpCopy="Enter the final weight of the meat to be cured. You can switch between metric and imperial above."
			/>
			<Text
				name="nitrite_percentage"
				label="Cure Nitrite %"
				defaultValue="6.25"
				postfix="%"
				helpCopy="Check your cure #1 for the nitrite percentage. Common values in North America are 6.25% or 5%."
			/>
			<Text
				name="salt_percentage"
				label="Desired salt %"
				postfix="%"
				helpCopy="Enter your desired salt percentage. 2% is a sensible default until you know better."
			/>
			<Text
				name="sugar_percentage"
				label="Desired sugar %"
				postfix="%"
				helpCopy="Enter your desired sugar percentage. 1% is a sensible default until you know better."
			/>
			<Text
				name="nitrite_ppm"
				label="Parts per million nitrite"
				defaultValue="156"
				postfix="ppm"
			/>
		</Form>
	</main>
</Layout>
